@use '../../utils/variables' as var;
@use '../../utils/mixins' as mixins;
@use '../../utils/functions' as func;
@use '../../utils/responsive' as *;

@use '../../shared/titles' as *;
@use '../../shared/descriptions' as *;

.about {
  background: var.$color-cadet-blue;
  color: var.$color-bright-gray;

  &__wrapper {

  }

  &__gallery {
    &__wrapper {

    }

    &__media {
      &__image {

      }
    }
  }

  &__title {
    @extend %title-100;
    max-width: 124rem;
    margin: auto;
    text-align: center;

    @include media('<phone') {
      max-width: 67.7rem;

    }
  }

  &__content {
    &__wrapper {

    }

    &__label {

    }

    &__description {

    }

    &__media {
      &__image {

      }
    }
  }

  &__highlight {
    &__wrapper {

    }

    &__label {

    }

    &__title {

    }

    &__media {
      &__image {

      }
    }
  }

}
