@use '../utils/variables' as var;
@use '../utils/mixins' as mixins;
@use '../utils/functions' as func;
@use '../utils/responsive' as *;

@use '../shared/titles' as *;
@use '../shared/descriptions' as *;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  color: var.$color-quarter-spanish-white;

  @include media('<=phone') {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  @extend %description-16;

  font-family: var.$font-suisse-bp;

}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
